@font-face {
	font-family: 'lemonTuesday';
	src:
		local('Lemon Tuesday'),
		local('Lemon-Tuesday'),
    url('./lemon-tuesday/lemon-tuesday.otf')
		format('opentype');
}

@font-face {
	font-family: 'OmTeloletOm';
	src:
		local('Om Telolet Om'),
		local('Om-Telolet-Om'),
    url('./om-telolet-om/om-telolet-om.otf')
		format('opentype');
	src:
		local('Om Telolet Om'),
		local('Om-Telolet-Om'),
    url('./om-telolet-om/om-telolet-om.ttf')
		format('truetype');
}
