<template>
  <div class="album-text reverse-row secondary" dark>

    <!--
      Elements in reverse order to fix overflow problem.
      'albums-counters' is layout first, so it is always visible.
      If 'album-name' overflows, the text is hidden and ellipsed.
    -->

    <div class="album-counters">
      <span v-if="hasSubAlbums">
        <span class="counter-text">{{subalbumsCount}}</span>
        <v-icon dark>mdi-image-album</v-icon>
      </span>
      <span v-if="hasPhotos">
        <span class="counter-text">{{photosCount}}</span>
        <v-icon dark>mdi-image</v-icon>
      </span>
    </div>
    <div class="album-name">
      <span>
        {{album.name}}
      </span>
    </div>

  </div>
</template>

<style scoped>

.reverse-row{
  flex-flow: row-reverse;
}

.album-text{
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;

  padding: 0.8em;
}

.album-name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.album-counters, .album-counters > *{
  /* vertical-align: middle; */
  /* line-height: 0px; */
    display: flex;
    align-items: center;
}

.album-text{
  font-family: OmTeloletOm;
  font-size: 1.0rem;
}

.album-name{
  font-size: 1.4em;
}

.album-counters{
  font-size: 1.0em;
}

.counter-text{
  /* HACK: (apparently) the font adds a bottom space, so we add a little to top,
          to fix the vertical allignment
  */
  padding-top: 0.2em;
}

.album-counters .icon{
  font-size: 1.4em;
}

</style>

<script>

export default {
    props: ['album'],
    computed: {
      subalbumsCount: function () {
        const a = this.album
        return a ? this.getLength(a.albumsIds) : null
      },
      photosCount: function () {
        const a = this.album
        return a ? this.getLength(a.photoIds) : null
      },
      hasSubAlbums: function () {
        return this.subalbumsCount > 0
      },
      hasPhotos: function () {
        return this.photosCount > 0
      }
    },
    methods: {
      getLength: function (values) {
        return Array.isArray(values) ? values.length : null
      }
    }
}

</script>
