<template>
  <v-toolbar-title>
    <v-breadcrumbs>
      <v-icon slot="divider">mdi-chevron-right</v-icon>
      <v-breadcrumbs-item>
        <v-icon>mdi-home</v-icon>
      </v-breadcrumbs-item>
      <v-breadcrumbs-item
        v-for="item in items" :key="item.text">
        <span>
          {{item.text}}
        </span>
      </v-breadcrumbs-item>
    </v-breadcrumbs>
  </v-toolbar-title>
</template>

<style scoped>
#list {
    list-style-type: none;
    text-align: justify;
}

#list li
{
    display: inline;
    vertical-align: middle;
}

li *{
  vertical-align: middle;
}
</style>

<style>

.application .breadcrumbs a{
  /* Workaround: change link to use color from theme, instead of 'primary' color*/
  color: inherit;
}
</style>

<script>

export default {
    data: function () {
      return {
        items: [
          {text: 'Família'},
          {text: 'Casa de vovó'},
          {text: 'Férias 2017'}
        ]
      }
    }
}

</script>
