<template>
    <div :style="cardStyle" class="card-content elevation-1">
        <img class="card-image" :src="image"/>

        <div class="card-text">
          <slot>
          </slot>
        </div>
    </div>
</template>

<style scoped>

.card-content{
  position: relative;
  line-height: 0px; /* line-height was creating a border to the card bottom*/
}

.card-image{
  max-width: 100%;
  max-height: 100%;
}

.card-text{
  position: absolute;
  bottom: 0px;
  width: 100%;
  line-height: normal;
}

.card-text{
  color: #fff
}

.card-text:empty{
  /* Hiddes card-text if there is no content*/
  display: none
}

</style>

<script>

export default {
    data: () => ({
    }),
    computed: {
      cardStyle: function () {
        return {
          height: this.height,
          width: this.width
        }
      }
    },
    props: {
      height: { default: null },
      width: { default: null },
      image: {
        type: String,
        default: null
      }
    }
}

</script>
