<template>
  <div class="full-container">
    <h2 class="components-title display-3 secondary--text">
      {{label}}
    </h2>
    <div class="albums-container">
      <div v-for="album in items" :key="album.id"
          class="album-item-wrapper">
        <PhotoCard
          class="album-item"
          width="100%"
          height="auto"
          :item="album">
        </PhotoCard>
      </div>
    </div>
  </div>
</template>

<style scoped>

.full-container{
    padding: 8px;
}

@media screen and (max-width: 599px) {
  .full-container{
    padding: 0px;
  }
}

.albums-container{
  display: flex;
  flex-flow: row wrap;
}

.album-item-wrapper{
  flex: auto;
  width: 200px;
  margin: 5px;
  max-width: 400px;
}

.album-item{
  width: "100%";
  height: auto;
}

.components-title{
  font-family: OmTeloletOm;
  padding-left: 8px;
  padding-top: 0.5em;
}

</style>

<style>
.album-item img{
  width: 100%;
  height: auto;
}
</style>

<script>

import PhotoCard from './PhotoCard'

export default {
    data: () => ({
    }),
    props: {
      label: String,
      items: Array
    },
    components: {
      PhotoCard
    }
}

</script>
