<template>
    <ImageCard
      :image="item.img">

      <AlbumText v-if="isAlbum()"
        :album="item">
      </AlbumText>

    </ImageCard>
</template>

<script>

import ImageCard from './ImageCard'
import AlbumText from './AlbumText'

export default {
    components: {
      ImageCard,
      AlbumText
    },
    props: ['item'],
    methods: {
      isAlbum: function () {
        return this.item && this.item.name
      }
    }
}

</script>
