<template>

<v-app id="inspire">
    <v-navigation-drawer fixed v-model="drawerVisible" app>
        <DrawerList></DrawerList>
    </v-navigation-drawer>
    <v-toolbar dark color="primary" fixed app>
        <v-btn flat fab @click.stop="drawerVisible = !drawerVisible">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <Breadcrumbs></Breadcrumbs>
    </v-toolbar>
    <v-content>
      <PhotoItemsGrid label="Álbuns" :items="albums"></PhotoItemsGrid>
      <PhotoItemsGrid label="Fotos" :items="photos"></PhotoItemsGrid>
    </v-content>
</v-app>

</template>

<script>

import DrawerList from './DrawerList'
import Breadcrumbs from './Breadcrumbs'
import PhotoItemsGrid from './PhotoItemsGrid'

import fakes from '../js/fakes'

export default {
    data: () => ({
        drawerVisible: false
    }),
    props: {
        source: String
    },
    components: {
      DrawerList,
      Breadcrumbs,
      PhotoItemsGrid
    },
    computed: {
      albums: function () {
        return fakes.genPhotoItemsList(10, 30, true)
      },
      photos: function () {
        return fakes.genPhotoItemsList(15, 50, false)
      }
    }
}

</script>
